<div class="container text-center">
  <button class="btn btn-primary mb-5 shadow border" (click)="DownloadPdf()">Downlaod Resume</button>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group heading="Work Experience">
        <div style="text-align: left;">
          <h2 class="mb-2">Senior Software Engineer</h2>
          <h3 class="text-primary">Infosys</h3>
          <ul>
            <li>Engineered REST APIs using JAVA, Spring Boot, and SQL
              to optimize data retrieval and manipulation; reduced
              response time by 40% and increased overall system
              performance</li>
            <li>Developed and maintained robust unit tests with Junit
              and Mockito, achieving 95% test coverage; ensured
              reliability and stability of REST APIs through rigorous
              testing and bug fixing</li>
            <li>Skilled in designing and developing interactive user
              interfaces using Anguar, React js, HTML, CSS.</li>
            <li>Demostrated expertise in executing new feature
              implementions, resolving bugs, optimizing API and UI
              performance by 30%</li>
          </ul>
        </div>
        <div style="text-align: left;">
          <h2 class="mb-2">Freelancer</h2>
          <h3 class="text-primary">Freelancer</h3>
          <ul>
            <li>Worked with Paperpedia.Inc and Acdemia.org as a
              Academic writer</li>
            <li>Part-time coding instructor at Brightchamps</li>
            <li>Developed the website Yellowhills using javascript and
              Node js</li>
            <li>Worked on a CRM software(Repdonkey)</li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group heading="Education">
        <div style="text-align: left;">
          <h2 class="mb-2">MCA</h2>
          <h3 class="text-primary">Doon University</h3>
          <ul>
            <li>Master's in Computer Applications with specialization in
              Computer Applications and Development</li>
            <li>Graduated with a 8.0 OGPA</li>
          </ul>
        </div>
        <div style="text-align: left;">
          <h2 class="mb-2">BCA</h2>
          <h3 class="text-primary">Doon University</h3>
          <ul>
            <li>Bachelor's in Computer Applications with specialization in
              Computer Applications and Development</li>
            <li>Graduated with a 6.5 OGPA</li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group heading="Skills">
        <div class="row" style="text-align: left;">
          <div class="col">
            <h3>Languages</h3>
            <ul>
              <li>Java</li>
              <li>Typescript</li>
              <li>SQL</li>
            </ul>
          </div>
          <div class="col">
            <h3>Framework</h3>
            <ul>
              <li>Spring Boot</li>
              <li>Angular JS</li>
              <li>React js</li>
              <li>PlSqls</li>
            </ul>
          </div>
          <div class="col">
            <h3>Technical Skills</h3>
            <ul>
              <li>GIT</li>
              <li>Agile Mthoology</li>
              <li>AWS</li>
              <li>OCP</li>
              <li>JIRA</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>

</div>



